<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CYOA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container text-center">
        <div class="card bg-danger text-white mt-4">
            <div class="card-body ">
                <h1 class="display-4">Start Your Own Adventure</h1>
                <p>You decide to flee. And boy, is that the wrong answer!! The bear comes running after you, like you are a deliciously scared rabbit. You are outrun and are gobbled up by the black bear. Wah wah wahhhh!
                <h3>OH NO! You didn't survive!!</h3>
            </div>
        </div>
    </div>
</body>

</html>